/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/c.bat
/web/js/fancytree/
!/web/js/fancytree/dist/jquery.fancytree-all-deps.min.js
.idea/
web/uploads/
