{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block page_header %}Welcome{% endblock %}

{% block body %}

    <p>Dog dog</p>

    <p>This is a <a href="https://symfony.com">link</a>. </p>

    <p>Dog dog</p>

{% endblock %}
