{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Welcome</h1>

    <p>Dog dog</p>
    <p>Dog dog</p>
    <p>Dog dog</p>
    <p>Dog dog</p>
    <p>Dog dog</p>

    <h2>Woof</h2>
    <p>Dog dog</p>
    <p>Dog dog</p>
    <p>Dog dog</p>

    <h2>Woof</h2>
    <p>Dog dog</p>
    <p>Dog dog</p>
    <p>Dog dog</p>

    <p>Dog dog</p>
    <p>Dog dog</p>
    <p>Dog dog</p>
    <p>Dog dog</p>
    <p>Dog dog</p>
    <p>Dog dog</p>

    <h2>Woof</h2>
    <p>Dog dog</p>
    <p>Dog dog</p>
    <p>Dog dog</p>

    <h2>Woof</h2>
    <p>Dog dog</p>
    <p>Dog dog</p>
    <p>Dog dog</p>

    <p>Dog dog</p>

{% endblock %}
