{% trans_default_domain 'FOSUserBundle' %}

<h1>Change password</h1>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'pure-form pure-form-stacked' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="pure-button" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
