{% block widget_errors %}
    {# Show errors for a form widget. #}
    {# Todo: check a11y #}
    {% if errors|length > 0 %}
        {% for err in errors %}
            <p class="alert alert-danger widget-error" role="alert">{{ err.message }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
