body {
    /* Space for the fixed navbar. */
    padding-top: 3.5rem;
}

/* Reset for links in the main area. */
/*main a, main a:visited {
    text-decoration: underline;
    color: blue;
}

main a:hover, main a:focus {
    text-decoration: underline;
    background-color: #F0F0F0;
    color: red;
}*/


#hide-left-sidebar-container {
    position: absolute;
    top: 3rem;
    left: 0;
}

#hide-left-sidebar {
    width: 120%;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    cursor: pointer;
}

#hide-right-sidebar-container {
    position: absolute;
    top: 3rem;
    right: 0;
}

#hide-right-sidebar {
    width: 120%;
    padding-top: 0.5rem;
    padding-right: 0.3rem;
    cursor: pointer;
}

/*#hide-left-sidebar:hover,*/
/*#hide-right-sidebar:hover{*/
    /*cursor: pointer;*/
/*}*/


/* For DataTables */
.dataTable .centered {
    text-align: center;
}

.dataTable.stripe-table .even {
    background-color: #f4fff3;
}

.dataTable.highlight-sorting-column .sorting_asc,
.dataTable.highlight-sorting-column .sorting_desc
{
    background-color: #F5F5FF;
}

.dataTable.show-hover-row .even:hover,
.dataTable.show-hover-row .odd:hover {
    background-color: #FBFBFB;
}

.dataTable .row-removed {
    color: #b3afaf;
}

/* For forms. */
/* Overrides BS4 alert-error properties. */
.widget-error {
    color: red;
    font-size: smaller;
    background-color: white;
    padding: 0.5rem;
    border-style: dashed;
    margin-left: 1rem;
}

/* For page actions, that is, list of actions at the top of a page.  */
.page-actions {
    margin-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: thin #F0F0F0 solid;
    border-bottom: thin #F0F0F0 solid;
}