body {
    /* Space for the fixed navbar. */
    padding-top: 3.5rem;
}

/* ---------- Reset for links in the main area. ---------- */
/*main a, main a:visited {
    text-decoration: underline;
    color: blue;
}

main a:hover, main a:focus {
    text-decoration: underline;
    background-color: #F0F0F0;
    color: red;
}*/


/* ---------- Sidebar handling ---------- */

#hide-left-sidebar-container {
    position: absolute;
    top: 3rem;
    left: 0;
}

#hide-left-sidebar {
    width: 120%;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    cursor: pointer;
}

#hide-right-sidebar-container {
    position: absolute;
    top: 3rem;
    right: 0;
}

#hide-right-sidebar {
    width: 120%;
    padding-top: 0.5rem;
    padding-right: 0.3rem;
    cursor: pointer;
}


/* ---------- For DataTables ---------- */
.dataTable .centered {
    text-align: center;
}

/*.dataTable.stripe-table .even {*/
    /*background-color: #f4fff3;*/
/*}*/

.dataTable.highlight-sorting-column .sorting_asc,
.dataTable.highlight-sorting-column .sorting_desc
{
    background-color: #F5F5FF;
}

.dataTable.show-hover-row .even:hover,
.dataTable.show-hover-row .odd:hover {
    background-color: #FBFBFB;
}

.dataTable .not-available {
    background-color: #F0F0F0;
}

/* ---------- For forms. ---------- */
/* Overrides BS4 alert-error properties. */
.widget-error {
    color: red;
    font-size: smaller;
    background-color: white;
    padding: 0.5rem;
    border-style: dashed;
    margin-left: 1rem;
}

/* ---------- For actions. ---------- */

/* For page actions, that is, list of actions at the top of a page.  */
.page-actions {
    margin-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: thin #F0F0F0 solid;
    border-bottom: thin #F0F0F0 solid;
}

/* ---------- User display ---------- */

ul.user-photo-list {
    list-style: none;
}

ul.user-photo-list li {
    margin-bottom: 2rem;
}

/* ---------- Lesson nav ---------- */
div.lesson-nav {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-top: thin #F0F0F0 solid;
    border-bottom: thin #F0F0F0 solid;
}


div.lesson-nav .left-nav img {
    margin-right: 1rem;
    width: 0.6rem;
}

div.lesson-nav .up-nav img {
    margin-right: 1rem;
    width: 1.2rem; /* The up svg has strange dimensions. */
}

div.lesson-nav .right-nav img {
    margin-left: 1rem;
    width: 0.6rem;
}


/* ---------- Fine bucket ---------- */
#file-bucket {
    padding: 0;
}

#file-bucket .ui-widget.ui-widget-content {
    border: none;
    padding: 0;
}

#file-bucket .ui-tabs-panel {
    padding: 0;
}

#file-bucket .qq-gallery.qq-uploader {
    padding: 5px;
    border: none;
    border-radius: 0;
    background-color: inherit;
}

#file-bucket img.qq-thumbnail-selector {
    max-height: 80px;
    max-width: 80px;
}

#file-bucket .qq-upload-button {
    font-size: 0.8rem;
    width: auto;
}

#file-bucket ul li.ui-tabs-tab {
    font-size: 0.8rem;
}

#file-bucket .qq-gallery .qq-upload-list li {
    margin: 0 10px 10px 0;
    height: auto;
}

#file-bucket .qq-gallery .qq-thumbnail-wrapper {
    height: 90px;
    width: 90px;
    margin: auto;
}


/* ---------- Exercise inserted ---------- */
.inserted-exercise {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    background-color: #ffffdd;
}


/* ---------- Helpers ---------- */
.indent1 {
    margin-left: 4rem;
}

