{% extends 'base.html.twig' %}
{% block page_header %}Authors{% endblock %}
{% block body %}

    {% if is_granted('ROLE_AUTHOR') %}

        <p>Authorized users only.</p>
        <ul>
            <li>
                <a href="{{ path('lesson_list') }}">Lessons</a>
            </li>
        </ul>

    {% endif %}

{% endblock %}