{% extends 'base.html.twig' %}

{% block title %}Upload test 1{% endblock %}

{% block page_header %}Upload test 1{% endblock %}

{% block body %}
    <p>Dog</p>
    <div id="uploader"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/fineuploader/fine-uploader-new.min.css') }}" rel="stylesheet">
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    {% include 'partials/fineuploader.html.twig' %}
    <script>
        $(document).ready(function(){
            var uploader = initUploader(
                document.getElementById("uploader"), //Where to show the uploader.
                '/test/upload-server1', //The upload endpoint.
                '/test/upload-server1', //The delete endpoint.
                true //debug
            );
        });
    </script>
{% endblock %}

