{# Included from author_content_new/edit. Form is almost the same for both. #}
    {# render any "global" errors #}
    {#{% include 'partials/form_errors.html.twig' %}#}
{{ form_start(contentForm) }}
{{ form_widget(contentForm) }}
    {#<input type="submit" value="send">#}
{# Page actions and form actions are defined differently. Probably should merge them. #}
<nav class="form-actions">
    {% include 'partials/form_widgets/button.html.twig' with {
    'attr': {
    'type': 'submit',
    'icon': 'check',
    'caption': 'Save',
    'title': 'Save the data',
    }
    } %}
    {% include 'partials/form_widgets/button.html.twig' with {
    'attr': {
    'type': 'link',
    'icon': 'times',
    'caption': 'Cancel',
    'variant': 'secondary',
    'title': 'Fuggedaboudit',
    'href': cancel_destination
    }
    } %}
</nav>

{{ form_end(contentForm) }}



