{# Included from author_content_new/edit. Form is almost the same for both. #}
    {# render any "global" errors #}
    {#{% include 'partials/form_errors.html.twig' %}#}
{{ form_start(contentForm) }}
{{ form_widget(contentForm) }}
<h2>CAMELS</h2>
    <input type="submit" value="send">

{{ form_end(contentForm) }}

DOOOG
DOOOG
hhhhhhhhhhhhhhhhh asdfasfd


